In [64]:
def no_days(x, year=None):
    if x == 2:
        if year  and (year %4 == 0 and year % 400 == 0 and year %100 == 0):
            return 29
        return 28
    elif (x%2 == 0 and x < 8) or (x%2 == 1 and x >= 8):
        return 30
    elif (x%2 == 0 and x >= 8) or (x%2 == 1 and x < 8):
        return 31

In [65]:
for i in range(1,13):
    print(f"Month {i} has {no_days(i)}")

Month 1 has 31
Month 2 has 28
Month 3 has 31
Month 4 has 30
Month 5 has 31
Month 6 has 30
Month 7 has 31
Month 8 has 31
Month 9 has 30
Month 10 has 31
Month 11 has 30
Month 12 has 31

In [66]:
for year in range(1999, 2025):
    print(f"Year {year}")
    for i in range(1,13):
        print(f"\tMonth {i} has {no_days(i,year)}")

Year 1999
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2000
	Month 1 has 31
	Month 2 has 29
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2001
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2002
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2003
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2004
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2005
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2006
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2007
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2008
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2009
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2010
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2011
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2012
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2013
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2014
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2015
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2016
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2017
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2018
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2019
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2020
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2021
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2022
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2023
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31
Year 2024
	Month 1 has 31
	Month 2 has 28
	Month 3 has 31
	Month 4 has 30
	Month 5 has 31
	Month 6 has 30
	Month 7 has 31
	Month 8 has 31
	Month 9 has 30
	Month 10 has 31
	Month 11 has 30
	Month 12 has 31

# Sources

[wiki how leap year](https://www.wikihow.com/Calculate-Leap-Years)

[leap years](https://www.thelists.org/list-of-leap-years.html)